language = "c"
run = "gcc -o labrabota3-1 /home/runner/workspace/src/main.c && ./labrabota3-1  1 2 2025 1 3 2025"
modules = ["c-clang14"]

[deployment]
run = ["sh", "-c", "gcc -o labrabota3-1 /home/runner/workspace/src/main.c"]

[nix]
channel = "stable-24_05"
