language = "c"
run = "gcc -o labrabota3-1 /home/runner/lab2-task1-gr9-stepuk/src/main.c"
modules = ["c-clang14"]

[deployment]
run = [
  "sh",
  "-c",
  "gcc -o labrabota3-1 /home/runner/lab2-task1-gr9-stepuk/src/main.c",
]

[nix]
channel = "stable-24_05"
